.trusted-text._1 {
    max-width: 200px;
    /* font-family: Poppins, sans-serif; */
    font-size: 24px;
    font-weight: 600;
}

.trusted-text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 133%;
}

.trusted-text._2 {
    max-width: 282px;
}

.trusted-text._3 {
    max-width: 240px;
}

.trusted-grid-wrapper {
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
}

.trusted-grid-wrapper.middle {
    padding-top: 80px;
}

.trusted-yellow-arrow {
    position: absolute;
    top: 10%;
    bottom: auto;
    left: auto;
    right: -38%;
}

@media screen and (min-width: 1280px) {
    .trusted-yellow-arrow {
        right: -35%;
    }
}

@media screen and (min-width: 1440px) {
    .trusted-yellow-arrow {
        right: -28%;
    }
}

.ell-bottom {
    border: none;
    width: 100%;
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 370px;
    display: flex;
    align-items: center;
    height: 370px;
    text-align: center;
}

.gradient-image::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    content: "";
    display: block;
    /* background-image: linear-gradient(180deg,  rgba(0, 0, 0, 0.5) 28.65%, rgba(255, 255, 255, 0) 82.81%); */
    z-index: 1;
}

.header-info {
    /* width: 800px; */
    /* height: 350px; */
    /* height: 200px; */
    border-radius: 25px;
    /* border-style: dashed; */
    /* border-width: 6px; */
    /* padding: 20px 75px 20px 35px; */
    /* background: rgba(255, 255, 255, .5); */
    /* position: absolute; */
    left: calc((100vw - 1110px) / 2);
    /* top: 20%; */
}